<div class="container-title-header">
    <div  id="trail-name"> <h1 class="title-header"><%= @trail.name %></h1> </div>
  </div>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-points-value="<%= @points.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= simple_form_for [ @hike ] do |f| %>
  <% if @hike.started_at == nil %>
    <%= f.submit "Start Route", class: "button-show", id:"btn-review-show" %>
  <% elsif @hike.ended_at == nil %>
    <%= f.submit "End Route", class: "button-show", id:"btn-review-show" %>
  <% else %>
    Ended
  <% end %>
<% end %>
