<div class="container-title-header">
  <h1 class="title-header">DISCOVER TRAILS</h1>
</div>

<div data-controller="search">
  <div class="container">
    <div class="container-of-buttons">
      <%= form_with url: trails_path, method: :get, data: { search_target: 'form' } do |f| %>
        <div class="container-search-btn">
          <%= check_box_tag(:difficulty, "Beginner", params[:difficulty] == "Beginner" ? true : false, id: 'difficulty-beginner', class: 'filter-trails') %>
          <label for="difficulty-beginner" class="btn btn-outline-primary form-control p-1">Beginner</label>
          <%= check_box_tag(:difficulty, "Intermediate", params[:difficulty] == "Intermediate" ? true : false, id: 'difficulty-inter', class: 'filter-trails') %>
          <label for="difficulty-inter" class="btn btn-outline-primary form-control p-1">Intermediate</label>
          <%= check_box_tag(:difficulty, "Experienced", params[:difficulty] == "Experienced" ? true : false, id: 'difficulty-exper', class: 'filter-trails') %>
          <label for="difficulty-exper" class="btn btn-outline-primary form-control p-1">Experienced</label>
          <%= check_box_tag(:difficulty, "Pro", params[:difficulty] == "Pro" ? true : false, id: 'difficulty-pro', class: 'filter-trails') %>
          <label for="difficulty-pro" class="btn btn-outline-primary form-control p-1">Pro</label>
        </div>
          <%= f.text_field :query,
                            class: "form-control",
                            placeholder: 'Type a trail name',
                            value: params[:query],
                            data: { search_target: 'input' ,
                            action: 'keyup->search#update'
                            } %>
        </div>
      <% end %>
    </div>
    <div data-search-target="list" class="all-the-card-trail">
      <%= render 'list', trails: @trails %>
    </div>
  </div>
</div>
