<script src="https://kit.fontawesome.com/6eb7b1a5cb.js" crossorigin="anonymous"></script>
  <div class="container-title-header">
    <div  id="trail-name"> <h1 class="title-header"><%= @trail.name %></h1> </div>
  </div>

  <div style="width: 100%; height: 550px;"
  data-controller="mapbox"
  data-mapbox-points-value="<%= @points.to_json %>"
  data-mapbox-pins-value="<%= @pins.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="container">
  <div class="container-button-show row">
    <div id="arrow" class="icon col-4 text-center">
      <%= link_to trails_path do %>
        <i class="fa-solid fa-chevron-left"></i>
      <% end %>
    </div>
    <div id="hikehike" class="col-4 text-center">
      <%= simple_form_for [ @trail, @hike ] do |f| %>
        <%= f.submit "Hike", class: "btn btn-outline-primary  form-control" %>
      <% end %>
    </div>
    <div class=" icon col-4 text-center">
      <%= link_to trail_favorites_path(@trail), method: :post do %>
        <i id="heart" class="fa-regular fa-heart"></i>
      <% end %>
    </div>
  </div>
</div>

<div class="trail-show-card-container">
  <div class="info">
    <h2 class="location-info"><%= @trail.location %></h2>
  </div>
  <div class="third">

  <div class="grid-up-and-down">
    <div class="grid-up" >
      <div class="grid-square">
        <p><strong></strong> <%= @trail.distance %> km</p>
      </div>
      <div class="grid-square">
        <p><strong></strong> <%= (@trail.duration / 60) %> minutes</p>
      </div>
    </div>
    <div class="grid-down" >
      <div class="grid-square">
        <p><strong></strong> <%= @trail.elevation %> meters</p>
      </div>
      <div class="grid-square">
        <p><strong></strong> <%= @trail.difficulty %></p>
      </div>
    </div>
  </div>

  <div class="description-bottom">
      <p><strong></strong> <%= @trail.description %></p>
  </div>
  
  </div>

</div>
