<script src="https://kit.fontawesome.com/6eb7b1a5cb.js" crossorigin="anonymous"></script>

<div class="trail-show-card-container">
  <div class="info" id="trail-name"> <h1><%= @trail.name %></h1> </div>

  <div class="info" id="trail-location"> <h2><%= @trail.location %></h2> </div>

  <div class="info">
    <p><strong>Distance:</strong> <%= @trail.distance %> km</p>
    <p><strong>Duration:</strong> <%= @trail.duration %> seconds</p>
    <p><strong>Elevation:</strong> <%= @trail.elevation %> meters</p>
    <p><strong>Difficulty:</strong> <%= @trail.difficulty %></p>
    <p><strong>Description:</strong> <%= @trail.description %></p>
  </div>

<div class="container-button-show">
  <button class="go-back-button">
    <%= link_to "go back to all trails", trails_path %>
  </button>
  <%= simple_form_for [ @trail, @favorite ] do |f| %>
    <%= f.submit "Favorite This Route", class: "go-back-button" %>
  <% end %>
  <%= simple_form_for [ @trail, @hike ] do |f| %>
    <%= f.submit "Hike This Route", class: "button-show", id:"btn-review-show" %>
  <% end %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-points-value="<%= @points.to_json %>"
  data-mapbox-pins-value="<%= @pins.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
