<script src="https://kit.fontawesome.com/6eb7b1a5cb.js" crossorigin="anonymous"></script>
  <div class="container-title-header">
    <div  id="trail-name"> <h1 class="title-header"><%= @trail.name %></h1> </div>
  </div>
<div class="trail-show-card-container">
  <div class="info">
    <h2 class="location-info"><%= @trail.location %></h2>
    <p><strong>Distance:</strong> <%= @trail.distance %> km</p>
    <p><strong>Duration:</strong> <%= (@trail.duration / 60) %> minutes</p>
    <p><strong>Elevation:</strong> <%= @trail.elevation %> meters</p>
    <p><strong>Difficulty:</strong> <%= @trail.difficulty %></p>
    <p><strong>Description:</strong> <%= @trail.description %></p>
  </div>
</div>
<div class="container-button-show d-flex m-3 p-0 justify-content-around ">
  <div> <%= link_to "Back to trails", trails_path, class:"btn btn-outline-primary form-control m-3" %></div>
<div> <%= simple_form_for [ @trail, @favorite ] do |f| %>
    <%= f.submit "Favorite", class: "btn btn-outline-primary ms-3 form-control m-3" %>
  <% end %>
  </div>
<div>
  <%= simple_form_for [ @trail, @hike ] do |f| %>
    <%= f.submit "Hike", class: "btn btn-outline-primary ms-3 form-control m-3" %>
  <% end %>
</div>

</div>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-points-value="<%= @points.to_json %>"
  data-mapbox-pins-value="<%= @pins.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
