<!DOCTYPE html>
<html>
  <head>
    <title>OffTheCliff</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <link
          rel="stylesheet"
          href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"
    >
  </head>

  <body>
    <div class="container-nav">
      <%= render 'shared/navbar' %>
    </div>
    <%= render 'shared/flashes' %>

    <%= yield %>
  </body>
</html>
